* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    90deg,
    #332295 27%,
    #b500de 64%,
    #1792eb 79%
  );
}

header h1 {
  font-family: "Rubik Vinyl", cursive;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 20px;
  color: #ffff;
}

.conteiner{

}
.conteiner img:hover{
    cursor: pointer;
    height: 380px;
    width: 350px;
}
main .par1 {
  height: 240px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #e730e9;
  background-image: linear-gradient(90deg, #e730e9 21%, #00b7de 100%);
  border-radius: 5px;
}
main .par1 img {
  width: 275px;
  height: 375px;
  padding: 5px;
  float: left;
}

main .par1 h3 {
  font-family: "EB Garamond", serif;
  color: #f4a460;
  font-size: 32px;
  font-weight: 700;
}

main .par1 p {
  font-family: "Times New Roman", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
  
}
main .par1 button {
  float: right;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  border: 1px solid wheat;
  background-color: #ff7f50;
}
main .par1 button:hover {
  box-shadow: #ff7f50;

  color: white;
  cursor: pointer;
  height: 45px;
    width: 120px;

}
main .par1 button a {
  font-family: "Arial", sans-serif;
  color: white;
  text-decoration: none;
}
main .par1 button a:hover {
  cursor: pointer;
  transform: none;
  transition: all 0s ease 0s;
  
}
main .par2 {
  height: 240px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #e730e9;
  background-image: linear-gradient(90deg, #e730e9 21%, #00b7de 100%);
  border-radius: 5px;
}
main .par2 img {
  width: 275px;
  height: 375px;
  padding: 5px;
  float: left;
}

main .par2 h3 {
  font-family: "EB Garamond", serif;
  color: #f4a460;
  font-size: 32px;
  font-weight: 700;
}

main .par2 p {
  font-family: "Times New Roman", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
  
}
main .par2 button {
  float: right;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  border: 1px solid wheat;
  background-color: #ff7f50;
}
main .par2 button:hover {
  box-shadow: #ff7f50;

  color: white;
  cursor: pointer;
  height: 45px;
  width: 120px;
}
main .par2 button a {
  font-family: "Arial", sans-serif;
  color: white;
  text-decoration: none;
}
main .par2 button a:hover {
  cursor: pointer;
  transform: none;
  transition: all 0s ease 0s;
}
main .par3 {
  height: 240px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #e730e9;
  background-image: linear-gradient(90deg, #e730e9 21%, #00b7de 100%);
  border-raius: 5px;
}
main .par3 img {
  width: 275px;
  height: 375px;
  padding: 5px;
  float: left;
}

main .par3 h3 {
  font-family: "EB Garamond", serif;
  color: #f4a460;
  font-size: 32px;
  font-weight: 700;
}

main .par3 p {
  font-family: "Times New Roman", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
  
}
main .par3 button {
  float: right;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  border: 1px solid wheat;
  background-color: #ff7f50;
}
main .par3 button:hover {
  box-shadow: #ff7f50;
 
  color: white;
  cursor: pointer;
  height: 45px;
  width: 120px;
}
main .par3 button a {
  font-family: "Arial", sans-serif;
  color: white;
  text-decoration: none;
}
main .par3 button a:hover {
  cursor: pointer;
  transform: none;
  transition: all 0s ease 0s;
}
main .par4 {
  height: 240px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #e730e9;
  background-image: linear-gradient(90deg, #e730e9 21%, #00b7de 100%);
  border-radius: 5px;
}
main .par4 img {
  width: 275px;
  height: 375px;
  padding: 5px;
  float: left;
}

main .par4 h3 {
  font-family: "EB Garamond", serif;
  color: #f4a460;
  font-size: 32px;
  font-weight: 700;
}

main .par4 p {
  font-family: "Times New Roman", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
  
}
main .par4 button {
  float: right;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  border: 1px solid wheat;
  background-color: #ff7f50;
}
main .par4 button:hover {
  box-shadow: #ff7f50;
  
  color: white;
  cursor: pointer;
  height: 45px;
  width: 120px;
}
  

main .par4 button a {
  font-family: "Arial", sans-serif;
  color: white;
  text-decoration: none;

}
main .par4 button a:hover {
  cursor: pointer;
  transform: none;
  transition: all 0s ease 0s;
}
main .par5 {
  height: 240px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #e730e9;
  background-image: linear-gradient(90deg, #e730e9 21%, #00b7de 100%);
  border-radius: 5px;
}
main .par5 img {
  width: 275px;
  height: 375px;
  padding: 5px;
  float: left;
}

main .par5 h3 {
  font-family: "EB Garamond", serif;
  color: #f4a460;
  font-size: 32px;
  font-weight: 700;
}

main .par5 p {
  font-family: "Times New Roman", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
  
}
main .par5 button {
  float: right;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  border: 1px solid wheat;
  background-color: #ff7f50;
}
main .par5 button:hover {
  box-shadow: #ff7f50;
 
  color: white;
  cursor: pointer;
  height: 45px;
  width: 120px;
}
main .par5 button a {
  font-family: "Arial", sans-serif;
  color: white;
  text-decoration: none;
}
main .par5 button a:hover {
  cursor: pointer;
  transform: none;
  transition: all 0s ease 0s;
}
main .par6 {
  height: 240px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #e730e9;
  background-image: linear-gradient(90deg, #e730e9 21%, #00b7de 100%);
  border-radius: 5px;
}
main .par6 img {
  width: 275px;
  height: 375px;
  padding: 5px;
  float: left;
}

main .par6 h3 {
  font-family: "EB Garamond", serif;
  color: #f4a460;
  font-size: 32px;
  font-weight: 700;
}

main .par6 p {
  font-family: "Times New Roman", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
  
}
main .par6 button {
  float: right;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  border: 1px solid wheat;
  background-color: #ff7f50;
}
main .par6 button:hover {
  box-shadow: #ff7f50;
 
  color: white;
  cursor: pointer;
  height: 45px;
  width: 120px;
}
main .par6 button a {
  font-family: "Arial", sans-serif;
  color: white;
  text-decoration: none;
}
main .par6 button a:hover {
  cursor: pointer;
  transform: none;
  transition: all 0s ease 0s;
}
main .par7 {
  height: 240px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  background-color: #e730e9;
  background-image: linear-gradient(90deg, #e730e9 21%, #00b7de 100%);
  border-radius: 5px;
}
main .par7 img {
  width: 275px;
  height: 375px;
  padding: 5px;
  float: left;
}

main .par7 h3 {
  font-family: "EB Garamond", serif;
  color: #f4a460;
  font-size: 32px;
  font-weight: 700;
}

main .par7 p{
  font-family: "Times New Roman", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
 
  
}
main .par7 button {
  float: right;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  border: 1px solid wheat;
  background-color: #ff7f50;
 
}
main .par7 button:hover {
  box-shadow: #ff7f50;

  color: white;
  cursor: pointer;
  height: 45px;
  width: 120px;
}
main .par7 a {
  font-family: "Arial", sans-serif;
  color: white;
  text-decoration: none;
}
main .par7 button a:hover {
  cursor: pointer;
  transform: none;
  transition: all 0s ease 0s;
}
